.navbar a,
.navbar a:hover,
.navbar a:active,
.navbar a:visited {
  color: rgb(255, 255, 255);
  text-decoration-line: none;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

#root {
  background-color: rgb(225, 240, 255);
}
